@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;900&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

body ,html{ 
    font-family: 'Red Hat Display', sans-serif;
    background-color: #F8F1E9;
}

.navbar{
    min-height: 70px;
}

.logo {
    height: 62px;
}

/* Home */

.container-outer {
    width: 100%;
}

.title {
    font-family: 'Kalam', cursive;
    font-size: 48px;
    font-weight: 700;
    color: #FF6F26;
}

.text {
    font-size: 28px;
}

.link {
    font-size: 16px;
    color: #01bbb0;
}

.card-body {
    height: 300px;
}


/* Footer */

.my-footer {
    min-height: 170px;
    background-color: #01bbb0;
}

.my-footer .address, .my-footer .copyright {
    color: #f6f6f6;
}

.social-list {
    list-style: none;
    display: inline-flex;
}

.social-list .ico {
    margin: 0 .5rem;
    height: 32px;
    width: 32px;
}

footer p {
    color: #F8F1E9;
}

footer p strong {
    font-weight: 600;
}
