@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body ,html{ 
    font-family: 'Red Hat Display', sans-serif;
}

.navbar{
    height: 70px;
}

.logo {
    height: 40px;
}

/* Footer */

.meu-rodape.fixed  p {
    background-color: #f5f5f5;
    margin: 0;
}

.meu-rodape.fixed {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #f5f5f5;
}

.meu-rodape.fixed .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    background-color: #f5f5f5;
}